.fight-body {
    position: relative;
    background: url("../pics/fight.jpg");
    background-size: cover;
    background-attachment: inherit;
    background-position: inherit;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}

.fight-container {
    display: flex;
    flex-direction: column;
    height: 90vh;
    width: 90vw;
}

.foe-container {
    margin-top: 20vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 80vh;
    width: 80vw;
}

.fighter-side-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 90vh;
    width: 90vw;
}


.fighter-sprite {
    image-rendering: pixelated;
    width: 200px;
    height: 200px;
}

.fighter-selector {
    background-color: rgba(26, 26, 26, 0.5);
    width: 10vw;
    height: 90vh;
    overflow-y: scroll;
    border-radius: 5px;

}

.fighter {

}

.pokemon-nickname {
    background-color: rgba(26, 26, 26, 0.5);
    border-radius: 5px;
}

.stats-container {
    background-color: rgba(26, 26, 26, 0.5);
    border-radius: 5px;
    width: 20vw;
    height: 10vh;
}

.foe-stats {

}

.fighter-stats {

}

.UI-container {
    display: flex;
    flex-direction: row;
    place-content: start;
    justify-content: space-between;
    overflow: hidden;
    background-color: rgba(26, 26, 26, 0.5);
    border: solid;
    border-color: #1a1a1a;
    border-radius: 5px;
    width: 30vw;
    height: 20vh;
}

.fight-UI-container{
    display: flex;
    flex-direction: row;
    align-items: end;
}

.fight-menu {
    display: flex;
    flex-direction: column;
}


.attack-menu {
    display: flex;
    flex-direction: column;
}

.logger-container {
    background-color: rgba(26, 26, 26, 0.5);
    border: solid;
    border-color: #1a1a1a;
    border-radius: 5px;
    height: 20vh;
    width: 30vw;

    display: flex;
    flex-direction: column;
    overflow-y: auto;
    scroll-behavior: smooth;
}

.log {
    display: flex;
    place-content: flex-start;
    padding: 0;
    margin: 5px;
}
.attack-button {
    height: 10vh;
    width: 10vw;
}

.agile-button{
    color: #305167;
    font-size: large;
    font-style: italic;
}

.strong-button{
    color: brown;
    font-size: large;
    font-weight: bolder;
}